<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
  <div class="container">
    <!-- nama brand -->
    <a class="navbar-brand" href="#elearning">MANDIRI E-LEARN</a>

    <!-- toggle button -->
    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navmenu"
      type="button"
    >
      <!-- burger icon -->
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- expand -->
    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <ng-container *ngIf="!onLoggedIn(); else isLoggedIn">
            <button
              type="button"
              class="btn btn-primary btn-light login"
              routerLink="/auth/login"
            >
              LOGIN
            </button>
          </ng-container>
          <ng-template #isLoggedIn>
            <button
              type="button"
              class="btn btn-primary btn-light login"
              (click)="onLoggedOut()"
            >
              LOGOUT
            </button>
          </ng-template>
        </li>
        <li class="nav-item">
          <a routerLink="/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a routerLink="/courses" class="nav-link">Course</a>
        </li>
        <li class="nav-item">
          <a routerLink="/todo" class="nav-link">List Todo</a>
        </li>
        <li class="nav-item">
          <a routerLink="/todo/form" class="nav-link">Form Todo</a>
        </li>
        <li class="nav-item">
          <a routerLink="/demo/component-a" class="nav-link">Demo</a>
        </li>
      </ul>
    </div>
  </div>
      
</nav>
