<section class="p-5">
  <div class="container text-center" style="margin-top: 50px">
    <h1>TODO</h1>
    <h6 class="text-center">{{ today | dateCustom: 'eeee, dd MMMM yyyy': locale }}</h6>
    <br />
    <div class="row text-center g-6">
      <div class="col-md">
        <app-todo-list
          [todos]="todos"
          (toggleTodo)="onToggleTodo()"
          (deleteTodo)="onDeleteTodo($event)"
          (editTodo)="onEditTodo($event)"
          [isLoading]="isLoading"
        ></app-todo-list>
      </div>

      <div class="col-md">
        <!-- <app-todo-form
          (saveTodo)="onSaveTodo($event)"
          [todo]="todo"
        ></app-todo-form> -->

        <app-todo-form
          [(todo)]="todo"
        ></app-todo-form>
      </div>
    </div>
  </div>
</section>
