<!-- content/showcase -->
<section
class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start mt-5"
>
<div class="container">
  <div class="d-sm-flex align-items-center justify-content-between">
    <div>
      <h1>Become a <span class="text-warning">Web Developer</span></h1>
      <p class="load my-4">
        We focus on teaching and training our clients the fundamental and
        advanced programming languages that suitable for the Industry.
      </p>
      <button
        class="btn btn-primary btn-lg"
        data-bs-target="#enroll"
        data-bs-toggle="modal"
      >
        Start Enrolment
      </button>
    </div>
    <img src="../../../../assets/images/1.png" alt="img-fluid w-50 d-none d-sm-block" />
  </div>
</div>
</section>
