<h3>Form</h3>
<div class="shadow-sm p-3 bg-body rounded">
  <div class="card-body">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="input-group news-input">
        <div class="input-group-text">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="isCompleted"
          />
        </div>
        <!-- <input
          type="text"
          class="form-control {{ isFormValid('name') }}"
          placeholder="Todo"
          aria-label="Todo"
          formControlName="name"
        /> -->

        <input
          type="text"
          class="form-control"
          [ngClass]="{'is-invalid': isFormValid('name')}"
          placeholder="Todo"
          aria-label="Todo"
          formControlName="name"
        />
        <button class="btn btn-dark btn-lg" [disabled]="!todoForm.valid">
          ADD
        </button>
        <div class="invalid-feedback" *ngIf="name.errors?.['required']">
          Todo wajib diisi
        </div>
        <div class="invalid-feedback" *ngIf="name.errors?.['minlength']">
          Todo wajib diisi minimal 3 karakter
        </div>
      </div>
    </form>
  </div>
</div>
