<h3>Form</h3>
<div class="shadow-sm p-3 bg-body rounded">
  <div class="card-body">
    <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
      <div class="input-group news-input">
        <div class="input-group-text">
          <input
            type="checkbox"
            class="form-check-input"
            formControlName="isCompleted"
          />
        </div>
        <!-- <input
          type="text"
          class="form-control {{ isFormValid('name') }}"
          placeholder="Todo"
          aria-label="Todo"
          formControlName="name"
        /> -->

        <input
          type="text"
          class="form-control"
          [ngClass]="{ 'is-invalid': isFormValid('name') }"
          placeholder="Todo"
          aria-label="Todo"
          formControlName="name"
        />
        <!-- <button class="btn btn-dark btn-lg" [disabled]="!todoForm.valid">
          ADD
        </button> -->
        <button appBsButton color="danger" [disabled]="!todoForm.valid">
          ADD
        </button>
      </div>
      <app-validation-message
        [control]="todoForm.get('name')"
        [field]="'Todo'"
      ></app-validation-message>
    </form>
  </div>
</div>
